<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
      <img class="m-1 me-3" src="/assets/img/logo.jpg" alt="ovo" style="height:50px;">
    <a class="navbar-brand opcion" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active opcion" aria-current="page" href="#planes">Planes de internet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active opcion" href="#">Avisos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active opcion" href="#informacion">Información</a>
        </li>
      </ul>
      <span class="navbar-text opcion">
        Jonas no quiere hacer el header
      </span>
    </div>
  </div>
</nav>