<div class="container-fluid text-center"  >
  
    <div class="row justify-content-evenly text-bg-light 
     p-3">
     <div class="col-1"><img  src="assets/img/logo.jpg" width="152" height="90"></div>
      <div class="col" style="margin-top: 30px;"><a class="nav-link active" aria-current="page" href="#">Iniciar sesión</a></div>
        <div class="col" style="margin-top: 30px;"><a class="nav-link active" aria-current="page" href="#">Planes de internet</a></div>
        <div class="col" style="margin-top: 30px;"><a class="nav-link active" aria-current="page" href="#">Reporte de fallos</a></div>
        <div class="col" style="margin-top: 30px;"><a class="nav-link active" aria-current="page" href="#">Pagos</a></div>
        
        
    </div>
    </div>
