<div class="container-fluid text-align-start  me-0"  >
    <div class="row  text-bg-light">
     <div class="col-1 m-1"><img src="assets/img/logo.jpg" width="90" height="60"></div>
      <div class="col-1 opcion " ><a class="nav-link active" style="text-align: center; margin-top: 10px;" aria-current="page" href="#" >Planes de Internet</a></div>
        <div class="col-1 opcion" ><a class="nav-link active" style="text-align: center; margin-top: 10px;" aria-current="page" href="#" >Reporte de fallos</a></div>
        <div class="col-1 opcion"><a class="nav-link active" style="text-align: center; margin-top: 20px;" aria-current="page" href="#" >Pagos</a></div>
        <div class="col-1 opcion " ><a class="nav-link active" style="text-align: center; margin-top:20px;" aria-current="page" href="#" >Iniciar sesión</a></div> 
    </div>
    </div>
