@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
img {
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:rgb(0, 155, 219 ) ;
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(0, 155, 219 )); 
        
}

.bgimg
{ position: absolute;
top:0;
left:0;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-color:rgb(0, 155, 219 ) ;
filter: opacity(0.4) drop-shadow(0 0 0 rgb(0, 155, 219 )); 
    
}
.service{
    
    top: 70%;
    left: 10%;
    height: 60px;
    width: 100px;
}
.fuente{
    margin-top: 80px;
    margin-left: 40px;
    font-family: 'Bebas Neue', cursive;
    font-size: 68px;
    color: white;
}
.bt{
    float: right;
    margin-top: 10%;
    border: darkcyan;
    border-radius: 1.5rem;
    padding: 0%;
    background: #ffffff;
    color: rgb(24, 19, 19);
    font-weight: 50;
    width: 15%;
    cursor: pointer;
}

.letra{
    font-family: fantasy;
    font-size: 120%;
    text-align: center;
    
}



.third {
float: centers;
margin-top: 10%;
border-color: #156594;
color: rgb(255, 255, 255);
box-shadow: 0 0 40px 40px #156594 inset, 0 0 0 0 #156594;
-webkit-transition: all 150ms ease-in-out;
transition: all 150ms ease-in-out;
}
.third:hover {
box-shadow: 0 0 10px 0 #234860 inset, 0 0 10px 4px #234860;
}






