
<app-header></app-header>
<div>
    <div
class="bg-image mb-1"
style=" background-image: url(https://img.freepik.com/foto-gratis/banner-fondo-azul-perfecto-canva_1361-3591.jpg?w=1380&t=st=1663546164~exp=1663546764~hmac=44bacda9fdbb8fd7cc647ae35d3fcf3d56b3522c33dd1ee9148c72b6b28abdeb); height: 100vh; background-repeat: no-repeat; background-size: cover;
background-position: center;">
<div class="mask p-1" style="background-color:rgb(0, 155, 219,0.6) ; height: 100vh;">
   <app-carrusel></app-carrusel>
   <STYLE>A {text-decoration: none;} </STYLE>
   <div class="nav-item active">
    
    <a class="btn third" type="button" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/ATC">
        <p class="letra mb-1"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16" style="color:rgb(14, 14, 21) ;">
            <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z"/>
          </svg>  Atencion al Cliente</p>
    </a>
    </div>

    <div class="fuente">
        <H1>BOXQUI</H1>
        <H1>"CERCA DE TI PARA APOYAR TUS NECESIDADES TECNOLOGICAS"</H1>
        
    </div>
    <div  class="service" >
        <a  class= "row"href="https://www.facebook.com">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16" style="color:rgb(221, 221, 239) ;">
                <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z"/>
              </svg>
              <div class="mb">
              <button type="button" class="btn btn-light">Contratar</button>
            </div>
        </a>

   </div>

</div>
</div>





 



