<div class="container-fluid text-center" style="background-image:url(https://img.freepik.com/foto-gratis/banner-fondo-azul-perfecto-canva_1361-3591.jpg?w=1380&t=st=1663546164~exp=1663546764~hmac=44bacda9fdbb8fd7cc647ae35d3fcf3d56b3522c33dd1ee9148c72b6b28abdeb); background-repeat: no-repeat; background-size:cover; height: 100vh;">
    <div class="row">
        <div class="col-5">
            <br><br><br>
            <div class="p-1 m-5 row justify-content-center">
                <br><br><br><br><br>
                <div class="col-5 m-0">
                    <p class="fs-1 lh-1 m-0"><strong>Elija un plan a su gusto</strong></p>
                </div>
                <div>
                    <button type="button" class="btn btn-primary ps-5 pe-5 m-0">Contáctanos</button>
                </div>
                <div class="col-4 m-0">
                    <br>
                    <p class="m-0 text-justify">Contamos con dos planes para que pueda elejir el que mejor se ajuste a sus necesidades</p>
                </div>
                <br><br><br><br><br>
            </div>
        </div>
<!------------------------------------Aquí empieza el lado derecho------------------------------------>
        <div class="col-7">
            <div class="container">
                <div class="row justify-content-start p-5">
                    <div class="col-4">
                        <!---------------------------Primer plan--------------------------->
                        <div class="carta">
                            <br>
                              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                              </svg>
                            <p class="fs-2"><strong>PLAN A</strong></p>
                            <br>
                            <h3><span class="border border-primary p-1 mt-5 mb-1">$250.00</span></h3>
                            <p class="text-muted fs-4">al mes</p>
                            <br>
                            <p class="fs-5">ANCHO DE BANDA</p>
                            <p class="m-0 fs-5"><span class="text-primary">10 MBPS</span> de subida</p>
                            <p class="fs-5"><span class="text-primary">3 MBPS</span> de bajada</p>
                            <br>
                        </div>
                    </div>
                    <div class="col-4">
                        <!---------------------------Segundo plan--------------------------->
                        <div class="carta">
                            <br>
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                              </svg>
                              <p class="fs-2"><strong>PLAN B</strong></p>
                              <br>
                              <h3><span class="border border-primary p-1 mt-5 mb-1">$300.00</span></h3>
                              <p class="text-muted fs-4">al mes</p>
                              <br>
                              <p class="fs-5">ANCHO DE BANDA</p>
                              <p class="m-0 fs-5"><span class="text-primary">15 MBPS</span> de subida</p>
                              <p class="fs-5"><span class="text-primary">5 MBPS</span> de bajada</p>
                              <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>