<div>
    <app-header></app-header>
    <div
    
  class="bg-image mb-1"
  style=" background-image: url(https://img.freepik.com/foto-gratis/banner-fondo-azul-perfecto-canva_1361-3591.jpg?w=1380&t=st=1663546164~exp=1663546764~hmac=44bacda9fdbb8fd7cc647ae35d3fcf3d56b3522c33dd1ee9148c72b6b28abdeb); height: 100vh; background-repeat: no-repeat; background-size: cover;
  background-position: center;">
  <div class="mask p-1" style="background-color:rgb(0, 155, 219,0.6) ; height: 100vh;">
    <div class="container2 text-center p-2">
        <h2 class="letra"><span style="color:azure;">CLIENTES CON PAGOS PENDIENTES</span></h2>
       
  <div class="container">
    <div class="form-check">
      <table class="table">
        <thead>
          <tr style="background-color: rgb(26, 172, 251); font-family: 'Bebas Neue', cursive; font-size: 25px;">
            <th scope="col"><span style="color:azure;">#</span></th>
            <th scope="col"><span style="color:azure;">Nombre</span></th>
            <th scope="col"><span style="color:azure;">Plan</span></th>
            <th scope="col"><span style="color:azure;">Adeuda</span></th>
            <th scope="col"><span style="color:azure;">Telefono</span></th>
            <th scope="col"><span style="color:azure;">Pago</span></th>
          </tr>
        </thead>
        
        <tbody>
          <tr style="background-color: rgb(255, 255, 255);  font-family: 'Bebas Neue', cursive; font-size: 24px;" *ngFor="let usuario of usuarios; let i=index;">
            
            <td>{{i+1}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.plan}}</td>
            <td>{{usuario.periodo}}</td>
            <td>{{usuario.tele}}</td>
            <td>
           
              <!--<button type="button" class="btn btn-primary m-1" (click)="editUsuario(clienteL.id, clienteL)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
              </button> -->

              
             <button type="button" class="btn btn m-1" (click)="deleteUsuario(usuario._id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" style="color: rgb(46, 184, 238);" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  
</div>
    
</div>
</div>
                
