<div class="container2 text-center p-2">
    <h2 class="letra"><span style="color:azure;">HISTORIAL DE PAGOS</span></h2>
    </div>
                        
                        <div class="table-responsive-md text-center p-4">
                        <table class="table" id="PA" name="PA" border="1" cellspacing="0">
                            <thead class="thead-dark" >
                              <tr style="background-color: rgb(26, 172, 251); font-family: 'Bebas Neue', cursive; font-size: 25px;">
                                <th scope="col" ><span style="color:azure;">MES</span></th>
                                <th scope="col" ><span style="color:azure;">VALOR</span></th>
                                <th scope="col" ><span style="color:azure;">ESTADO</span></th>
                                <th scope="col" ><span style="color:azure;">INICIO / FIN DE MES</span></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr style="background-color: rgb(255, 255, 255); font-family: 'Bebas Neue', cursive; font-size: 24px;">
                                <td scope="row"><strong>FEBRERO</strong></td>
                                <td><strong>300</strong></td>
                                <td><strong>Pagado</strong></td>
                                <td><strong>13/02/2022</strong></td>
                              </tr>
                              <tr style="background-color: rgb(255, 255, 255); font-family: 'Bebas Neue', cursive; font-size: 24px;">
                                <td scope="row"><strong>ENERO</strong></td>
                                <td><strong>300</strong></td>
                                <td><strong>Pagado</strong></td>
                                <td><strong>13/01/2022</strong></td>
                              </tr>
                              <tr style="background-color: rgb(255, 255, 255); font-family: 'Bebas Neue', cursive; font-size: 24px;">
                                <td scope="row"><strong>DICIEMBRE</strong></td>
                                <td><strong>300</strong></td>
                                <td><strong>Pagado</strong></td>
                                <td><strong>13/12/2022</strong></td>
                              </tr>
                            </tbody>
                          </table>
                          <p class="my-3">
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2 multiCollapseExample3">Pagos Pendientes</button>
                          </p>
                          <div class="row">
                            <div class="col-3">
                              <div class="collapse multi-collapse" id="multiCollapseExample1">
                                <div class="card card-body">
                                  <tr style="background-color: rgb(255, 255, 255);  font-family: 'Bebas Neue', cursive; font-size: 24px;">
                                    <td scope="row" ><strong>MARZO</strong></td>
                                    <td><strong>300</strong></td>
                                    <td><strong><span style="color:crimson;">Sin Pagar</span></strong></td>
                                    <td><strong>13/03/2022</strong></td>
                                  </tr>
                                </div>
                              </div>
                            </div>
                          <div class="col-3">
                            <div class="collapse multi-collapse" id="multiCollapseExample2">
                              <div class="card card-body">
                                <tr style="background-color: rgb(255, 255, 255);  font-family: 'Bebas Neue', cursive; font-size: 24px;">
                                  <td scope="row" ><strong>MARZO</strong></td>
                                  <td><strong>300</strong></td>
                                  <td><strong><span style="color:crimson;">Sin Pagar</span></strong></td>
                                  <td><strong>13/03/2022</strong></td>
                                </tr>
                              </div>
                            </div>
                            
                        </div>
                          </div>

                        
    
    
    