<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    
    <div class="carousel-inner row bg" >
      <div class="carousel-item active ">
        <div class="col-6">
          <H1 class=" letra"> Diviertete con internet de alta velocidad para jugar con tus amigos</H1>
      </div>
        <div class="col-6">
          <img class="imagen1" src="https://img.freepik.com/foto-gratis/punto-vista-joven-feliz-celebrando-su-victoria-juego-disparos-linea-controlador-inalambrico_482257-17356.jpg?w=1060&t=st=1663533737~exp=1663534337~hmac=5a2cd48093d0a4178fa00fa4abc1e407c95c725dd6cf9f86278d2818edb7ea52" alt="">
          <img class="imagen2" src="assets/img/adulto.jpg" alt="">
          <img class="imagen3" src="assets/img/amigos.jpg" alt="">
        </div>
      </div>
      <div class=" carousel-item">
          <div class="col-6">
            <H1 class=" letra"> navega por tus redes sociales y disfruta de las últimas tendencias</H1>
        </div>
          <div class="col-6">
            <img class="imagen1" src="https://img.freepik.com/fotos-premium/me-gusta-redes-sociales_53876-90243.jpg?w=1060" alt="">
            <img class="imagen2" src="https://img.freepik.com/foto-gratis/pila-3d-populares-social-media-logos_1379-881.jpg?w=1060&t=st=1664154428~exp=1664155028~hmac=1571a9c547213ddd08fdd2f75beb31498204acf3d0e80071468753e454706596" alt="">
            <img class="imagen3" src="https://img.freepik.com/foto-gratis/iconos-notificacion-movil-hombre-mujer-usando-telefono-celular_23-2147844554.jpg?w=1060&t=st=1664154555~exp=1664155155~hmac=a7e77840ee598823c031cb671435912a05d08fba52dcbe1edd6d476905e4289d" alt="">
          </div>
      </div>
      <div class=" carousel-item">
        <div class="col-6">
          <H1 class=" letra">  disfruta de contenido en tus plataformas favoritas</H1>
      </div>
        <div class="col-6">
          <img class="imagen1" src="https://img.freepik.com/foto-gratis/amigos-viendo-servicio-streaming-juntos-sala-estar_23-2149007869.jpg?w=1060&t=st=1663544674~exp=1663545274~hmac=cac368ce9601508ce80dd68f6a0dfa3b14d18fecdbc6512a48477bbc2e09bbe2" alt="">
          <img class="imagen2" src="https://img.freepik.com/foto-gratis/amigos-viendo-servicio-streaming-juntos-interiores_23-2149007915.jpg?w=900&t=st=1663544750~exp=1663545350~hmac=5296a9d58963d7dfba467f858437a81bcefa044e9d82ae4e85c7d28d69e605ca" alt="">
          <img class="imagen3" src="https://img.freepik.com/foto-gratis/hombre-afroamericano-auriculares-viendo-peliculas-servicios-transmision-sala-estar-luminosa-usuario-computadora-concentrado-trabajo-oficina-o-entretenimiento-hogar-sonriendo_482257-30140.jpg?w=1380&t=st=1663544732~exp=1663545332~hmac=d3799372ce999fe469aee330fb47cccae55a1a68f06a477d271a52d94a0faf1f" alt="">
        </div>
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      <span class="sr-only">Next</span>

    </button>
  </div>
 