
<div id="conteItemsCarrusel">
    <div class="itemcarrusel" id="item1" >
        <div class="tarjetacarrusel row" id="tarjeta1" >
            <div class="col">
                <H1 class="items text-white"> Diviertete con internet de alta velocidad para jugar con tus amigos</H1>
            </div>
            <div class="imgs col">
                <img class="imagen1" src="https://img.freepik.com/foto-gratis/punto-vista-joven-feliz-celebrando-su-victoria-juego-disparos-linea-controlador-inalambrico_482257-17356.jpg?w=1060&t=st=1663533737~exp=1663534337~hmac=5a2cd48093d0a4178fa00fa4abc1e407c95c725dd6cf9f86278d2818edb7ea52" alt="">
                <img class="imagen2" src="assets/img/adulto.jpg" alt="">
                <img class="imagen3" src="assets/img/amigos.jpg" alt="">
            </div>
            
            <div class="flechascarrusel">
                <a href="#item3">
            <img src="assets/img/caret-left.svg" alt="">
                </a>
                <a href="#item2">
            <img src="assets/img/caret-right.svg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="itemcarrusel" id="item2" >
         <div class="tarjetacarrusel row" id="tarjeta2">
            <div class="col">
                <H1 class="items text-white">Navega por tus redes sociales y disfruta de las últimas tendencias</H1>
            </div>
            <div class="imgs col">
                <img class="imagen1" src="https://img.freepik.com/foto-gratis/punto-vista-joven-feliz-celebrando-su-victoria-juego-disparos-linea-controlador-inalambrico_482257-17356.jpg?w=1060&t=st=1663533737~exp=1663534337~hmac=5a2cd48093d0a4178fa00fa4abc1e407c95c725dd6cf9f86278d2818edb7ea52" alt="">
                <img class="imagen2" src="assets/img/adulto.jpg" alt="">
                <img class="imagen3" src="assets/img/amigos.jpg" alt="">
            </div>
            <div class="flechascarrusel">
                <a href="#item1">
            <img src="assets/img/caret-left.svg" alt="">
                </a>
                <a href="#item3">
            <img src="assets/img/caret-right.svg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="itemcarrusel" id="item3">
        <div class="tarjetacarrusel row " id="tarjeta3">
            <div class="col">
                <H1 class="items text-white"> disfruta de contenido en tus plataformas favoritas</H1>
            </div>
            <div class="imgs col">
                <img class="imagen1" src="https://img.freepik.com/foto-gratis/amigos-viendo-servicio-streaming-juntos-sala-estar_23-2149007869.jpg?w=1060&t=st=1663544674~exp=1663545274~hmac=cac368ce9601508ce80dd68f6a0dfa3b14d18fecdbc6512a48477bbc2e09bbe2" alt="">
                <img class="imagen2" src="https://img.freepik.com/foto-gratis/amigos-viendo-servicio-streaming-juntos-interiores_23-2149007915.jpg?w=900&t=st=1663544750~exp=1663545350~hmac=5296a9d58963d7dfba467f858437a81bcefa044e9d82ae4e85c7d28d69e605ca" alt="">
                <img class="imagen3" src="https://img.freepik.com/foto-gratis/hombre-afroamericano-auriculares-viendo-peliculas-servicios-transmision-sala-estar-luminosa-usuario-computadora-concentrado-trabajo-oficina-o-entretenimiento-hogar-sonriendo_482257-30140.jpg?w=1380&t=st=1663544732~exp=1663545332~hmac=d3799372ce999fe469aee330fb47cccae55a1a68f06a477d271a52d94a0faf1f" alt="">
            </div>
            <div class="flechascarrusel">
                <a href="#item2">
            <img src="assets/img/caret-left.svg" alt="">
                </a>
                <a href="#item1">
            <img src="assets/img/caret-right.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

