.fourth {
    border-color: #36bcf4;
    color: rgb(0, 0, 0);
    background-image: -webkit-linear-gradient(45deg, #36bcf4 50%, transparent 50%);
    background-image: linear-gradient(45deg, #36bcf4 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    float: left;
    border-radius: 1.5rem;
    width: 45%;
    margin-top: 10%;
  }
  .fourth:hover {
    background-position: 0;
  }

  .fift {
    border-color: #36bcf4;
    color: rgb(0, 0, 0);
    background-image: -webkit-linear-gradient(45deg, #36bcf4 50%, transparent 50%);
    background-image: linear-gradient(45deg, #36bcf4 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    float: right;
    border-radius: 1.5rem;
    width: 45%;
    margin-top: 10%;
  }
  .fift:hover {
    background-position: 0;
  }
  .color{
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
