<div>
    <app-header></app-header>
    <div
    
class="bg-image mb-1"
style=" background-image: url(https://img.freepik.com/foto-gratis/banner-fondo-azul-perfecto-canva_1361-3591.jpg?w=1380&t=st=1663546164~exp=1663546764~hmac=44bacda9fdbb8fd7cc647ae35d3fcf3d56b3522c33dd1ee9148c72b6b28abdeb); height: auto; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;
background-position: center;">
<div class="mask p-1" style="background-color:rgb(0, 155, 219,0.6) ; height: auto;">
    <div class="container-fluid register" > 
        <div class="row">  
          <h1 class="tipo">SECCION DE PAGOS</h1>   
            <div class="register-left">
            <div class="container colocar"> 
                <label class="letra">Seleccione el estado</label>
                <select class="form-select letra">
                    <option selected>seleccion</option>
                    <option value="1">Pagado</option>
                    <option value="2">Pago Pendiente</option>
                  </select>
                  
            </div>
            <div><img class="posicion" src="/assets/img/rick.gif" alt=""></div>
            <div class="container colocar letra">
                <label for="exampleFormControlInput1" class="form-label">Nombre de cliente</label>
                <input type="Nombre" class="form-control" id="Nombre" placeholder="Usuario">
              </div>
              <div class="container colocar letra">
                <label for="exampleFormControlInput1" class="for-label">Valor</label>
                <input type="Valor" class="form-control" id="Valor" placeholder="$">
              </div>
              <div class="container mb-3 colocar letra">
                <label for="exampleFormControlInput1" class="form-label">Fecha de Pago</label>
                <input type="Fecha" class="form-control" id="Fecha" placeholder="DD/MM/AA">
              </div>
              <div class="nav-item active btn-center">
                <button type="button" class="btn btn-primary">Cargar</button>
            </div>
            </div>
        </div>  
        </div>
    
</div>
