<!-- Nav Item - User Information -->
  
      
      
<!-- Example split danger button -->
<div class="btn-group p-2">
    <button type="button" class="btn btn-primary">
    <span class="mr-2 d-none d-lg-inline p-2">Felipe Balan</span>
    <img class="carta rounded-circle" src="https://pm1.narvii.com/7272/bdf147f83492436e2d87d11adbed9803d74ed61er1-985-985v2_128.jpg" alt="logo2" height="50" width="60"/>
    </button>
    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
    </ul>
  </div>
  