<!-- Nav Item - User Information -->
  
      
      
<!-- Example split-->
<div class="btn-group p-2">
    <button type="button" class="btn">
    <div>
      <span class="mr-2 d-none d-lg-inline p-2">Felipe Balan</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg>
    </div>
    </button>
    <button type="button" class="btn  dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" type="button" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/Admin">Administración</a></li>

      <!---Baner desplegable-->

      <div class="nav-item active">
    
        <li><a class="dropdown-item" type="button" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/ATC">
            <p class="letra mb-1"> Reportar Problema</p>
        </a></li>
        </div>
      <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/AVP">Consulta de Pagos</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
    </ul>
  </div>
  