.register{
    background: -webkit-linear-gradient(left, #099ad6, #157ca8);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}


.register-heading{
    text-align: center;
    margin-top: 18%;
    margin-bottom: -15%;
    color: #495057;
}

.envil{
    font-family: fantasy;
    font-size: 100%;
    text-align: center;

}

.container-fluid {

    border-radius: 1.5rem;
    margin-top: 6%;
    max-width: 60%;
    
}

.carta{
    border-radius: 1.5rem;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.sixt {
    border-color: #36bcf4;
    color: rgb(0, 0, 0);
    background-image: -webkit-linear-gradient(45deg, #36bcf4 50%, transparent 50%);
    background-image: linear-gradient(45deg, #36bcf4 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    float: right;
    border-radius: 1.5rem;
    width: 45%;
    margin-top: 30%;
  }
  .sixt:hover {
    background-position: 0;
  }