.opcion:hover{
    background-color: rgb(37, 150, 190);
    color: white;
    border-radius: 2%;
}
.opcion::after{
    transition: 9s ease-in-out all;
}
<<<<<<< Updated upstream
=======
button{
    height: 100%;
    width: 95%;
}
>>>>>>> Stashed changes
.font
{
    font-family: 'Bebas Neue', cursive;
}
.carta
{
    background-color: white;
    border-radius: 20px;
}
.zoom
{
    transition: transform 0.5s;
}
.zoom:hover
{
    transform: scale(1.11);
    background-color:aliceblue;
}
