
<div class="container2 text-center p-2">
<h2 class="letra"><span style="color:azure;">PAGOS PENDIENTES</span></h2>
</div>
                    
                    <div class="table-responsive-md text-center p-4">
                    <table class="table" id="PA" name="PA" border="1" cellspacing="0">
                        <thead class="thead-dark" >
                          <tr style="background-color: rgb(26, 172, 251); font-family: 'Bebas Neue', cursive; font-size: 25px;">
                            <th scope="col" ><span style="color:azure;">MES</span></th>
                            <th scope="col" ><span style="color:azure;">VALOR</span></th>
                            <th scope="col" ><span style="color:azure;">ESTADO</span></th>
                            <th scope="col" ><span style="color:azure;">INICIO / FIN DE MES</span></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr style="background-color: rgb(255, 255, 255);  font-family: 'Bebas Neue', cursive; font-size: 24px;">
                            <td scope="row" ><strong>MARZO</strong></td>
                            <td><strong>300</strong></td>
                            <td><strong><span style="color:crimson;">Sin Pagar</span></strong></td>
                            <td><strong>13/03/2022</strong></td>
                          </tr>
                          <tr style="background-color: rgb(255, 255, 255); font-family: 'Bebas Neue', cursive; font-size: 24px;">
                            <td scope="row"><strong>FEBRERO</strong></td>
                            <td><strong>300</strong></td>
                            <td><strong>Pagado</strong></td>
                            <td><strong>13/02/2022</strong></td>
                          </tr>
                          <tr style="background-color: rgb(255, 255, 255); font-family: 'Bebas Neue', cursive; font-size: 24px;">
                            <td scope="row"><strong>ENERO</strong></td>
                            <td><strong>300</strong></td>
                            <td><strong>Pagado</strong></td>
                            <td><strong>13/01/2022</strong></td>
                          </tr>
                          <tr style="background-color: rgb(255, 255, 255); font-family: 'Bebas Neue', cursive; font-size: 24px;">
                            <td scope="row"><strong>DICIEMBRE</strong></td>
                            <td><strong>300</strong></td>
                            <td><strong>Pagado</strong></td>
                            <td><strong>13/12/2022</strong></td>
                          </tr>
                        </tbody>
                      </table>

                      
                      <div class="accordion " id="accordionExample">
                        <div class="accordion-item ">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Mostrar Historial Completo
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <tr style="background-color: rgb(255, 255, 255); font-family: 'Bebas Neue', cursive; font-size: 24px;">
                                <td scope="row"><strong>DICIEMBRE</strong></td>
                                <td><strong>300</strong></td>
                                <td><strong>Pagado</strong></td>
                                <td><strong>13/12/2022</strong></td>
                            </div>
                          </div>
                        </div>
                      </div>
                    


                    </div>


