
<H1 *ngIf="seccionAvisos===true" class="letra"> Crear avisos</H1>
<H1 *ngIf="seccionAvisos===false" class="letra"> Editar aviso</H1>

<form *ngIf="seccionAvisos===true" class= "container"#avisosForm="ngForm" (ngSubmit)="onSubmit(avisosForm.value)">
    <div class="form-floating mb-3">
        <input type="text"  class="form-control" name="titulo" id="titulo" placeholder="Default input" ngModel required style="background-color:aliceblue;">

    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Nota:</label>
        <textarea class="form-control" name="nota" id="nota" ngModel required=""
         rows="3"> 
          
        </textarea>

      </div>
      <select  id= "estado"ngModel required name="estado">
        <option value="Activado" selected>si</option>
        <option value="Desactivado">no</option>
      </select>
      <div class="row justify-content-center">
        <div class="col-4" style="text-align:center">
          <button type="submit" class="btn btn-primary ps-5 pe-5" (click)="onShowHide()">Aceptar</button>
        </div>
      </div>
    </form>




    <form *ngIf="seccionAvisos===false" class= "container"#avisosFormu="ngForm" (ngSubmit)="onSubmit(avisosFormu.value)">
      <div class="form-floating mb-3">
          <input type="text" class="form-control" name="titulo" id="titulo" placeholder="{{a.titulo}}" ngModel="{{a.titulo}}" style="background-color:aliceblue;">
  
          <label for="floatingInput">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
              <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z"/>
            </svg> Título:
          </label>
      </div>
  
      <div class="mb-3">
          <textarea class="form-control" name="nota" id="nota" ngModel="{{a.nota}}" rows="3" style="background-color:aliceblue;"> </textarea>
  
        </div>
        <select  id= "estado"ngModel required name="estado">
          <option value="Activado" selected>si</option>
          <option value="Desactivado">no</option>
        </select>
        <div class="row justify-content-center">
          <div class="col-4" style="text-align:center">
            <button type="submit" class="btn btn-primary ps-5 pe-5"  routerlink="/Adm" href="/Adm"(click)="onShowHide(); editAviso(a.id, avisosFormu.value)">Aceptar</button>
          </div>
        </div>
      </form>







    <div *ngIf="seccionAvisos===true" class="container">
        <table class="table  celdas">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Titulo</th>
              <th scope="col">Nota</th>
              <th scope="col">Estado</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let aviso of avisos.slice().reverse(); let i=index;">

              
              <td>{{i+1}}</td>
              <td>{{aviso.titulo}}</td>
              <td>{{aviso.nota}}</td>
              <td>
                <button *ngIf="aviso.estado==='Activado'" type="button" class="act" (click)="desactivarAviso(aviso.id, aviso)">{{aviso.estado}}</button>
                <button *ngIf="aviso.estado==='Desactivado'" type="button" class="desact" (click)="activarAviso(aviso.id, aviso)">{{aviso.estado}}</button>
              
              </td>
          
             <td>
              <button type="button" class="btn bteditar" (click)="a=aviso; seccionAvisos=false;">Editar</button>
            </td>
            <td>
              <button type="button" class="btn bteliminar" (click)="deleteAviso(aviso.id)">Eliminar</button>
            </td>
            </tr>
          </tbody>
        </table>
      </div>