
<H1 *ngIf="seccionAvisos===true" class="letra"> Crear avisos</H1>
<H1 *ngIf="seccionAvisos===false" class="letra"> Editar aviso</H1>

<form *ngIf="seccionAvisos===true" class= "container"#avisosForm="ngForm" (ngSubmit)="onSubmit(avisosForm.value)">
    <div class="form-floating mb-3">
      <p class="letra2">Titulo:</p>
        <input type="text"  class="form-control" name="titulo" id="titulo" placeholder="Default input" ngModel required style="background-color:aliceblue;">

    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label letra2">Nota:</label>
        <textarea class="form-control" name="nota" id="nota" ngModel required=""
         rows="3"> 
          
        </textarea>

      </div>
      <p class="letra2">Mostrar aviso</p>
      <select  id= "estado" ngModel required name="estado">
        <option value="Activado" selected>si</option>
        <option value="Desactivado">no</option>
      </select>
      <div class="row justify-content-center">
        <div class="col-4" style="text-align:center">
          <button type="submit" class="btn btn-primary ps-5 pe-5" (click)="onShowHide()">Aceptar</button>
        </div>
      </div>
    </form>




    <form *ngIf="seccionAvisos===false" class= "container"#avisosFormu="ngForm" (ngSubmit)="onSubmit(avisosFormu.value)">
      <div class="form-floating mb-3">
        <p class="letra2">Titulo:</p>
          <input type="text" class="form-control" name="titulo" id="titulo" placeholder="{{a.titulo}}" ngModel="{{a.titulo}}" style="background-color:aliceblue;">

      </div>
  
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label letra2">Nota:</label>
          <textarea class="form-control" name="nota" id="nota" ngModel="{{a.nota}}" rows="3" style="background-color:aliceblue;"> </textarea>
  
        </div>
        <p class="letra2">Mostrar aviso</p>
        <select  id= "estado"ngModel required name="estado">
          <option value="Activado" selected>si</option>
          <option value="Desactivado">no</option>
        </select>
        <div class="row justify-content-center">
          <div class="col-4" style="text-align:center">
            <button type="submit" class="btn btn-primary ps-5 pe-5"  routerlink="/Adm" href="/Adm"(click)="onShowHide(); editAviso(a.id, avisosFormu.value)">Aceptar</button>
          </div>
        </div>
      </form>







    <div *ngIf="seccionAvisos===true" class="container">
        <table class="table  celdas">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Titulo</th>
              <th scope="col">Nota</th>
              <th scope="col">Estado</th>
              <th scope="colgroup">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let aviso of avisos.slice().reverse(); let i=index;">

              
              <td>{{i+1}}</td>
              <td>{{aviso.titulo}}</td>
              <td>{{aviso.nota}}</td>
              <td>
                <button *ngIf="aviso.estado==='Activado'" type="button" class="act" (click)="desactivarAviso(aviso.id, aviso)">{{aviso.estado}}</button>
                <button *ngIf="aviso.estado==='Desactivado'" type="button" class="desact" (click)="activarAviso(aviso.id, aviso)">{{aviso.estado}}</button>
              
              </td>
          
             <td>
              <button type="button" class="btn bteditar" (click)="a=aviso; seccionAvisos=false;">Editar</button>
            </td>
            <td>
              <button type="button" class="btn bteliminar" (click)="deleteAviso(aviso.id)">Eliminar</button>
            </td>
            </tr>
          </tbody>
        </table>
      </div>