<div>
    <app-header></app-header>
    <div
    
  class="bg-image mb-1"
  style=" background-image: url(https://img.freepik.com/foto-gratis/banner-fondo-azul-perfecto-canva_1361-3591.jpg?w=1380&t=st=1663546164~exp=1663546764~hmac=44bacda9fdbb8fd7cc647ae35d3fcf3d56b3522c33dd1ee9148c72b6b28abdeb); height: 100vh; background-repeat: no-repeat; background-size: cover;
  background-position: center;">
  <div class="mask p-1" style="background-color:rgb(0, 155, 219,0.6) ; height: 100vh;">
    <div class="container2 text-center p-2">
        <h2 class="letra"><span style="color:azure;">CLIENTES SIN PAGOS PENDIENTES</span></h2>
      
        <button  class="button1 m-3"  type="button" routerLinkActive="active" routerLink="/roma" >OBSERVAR CLIENTES QUE ADEUDAN</button>
        <button class="btn fourth" routerLinkActive="active" routerLink="/Admin"><p class="envil mb-1"><span style="text-align:end;">Menu</span></p></button>

  <div class="container">
    <div class="form-check">
      <table class="table">
        <thead>
          <tr style="background-color: rgb(26, 172, 251); font-family: 'Bebas Neue', cursive; font-size: 25px;">
            <th scope="col"><span style="color:azure;">#</span></th>
            <th scope="col"><span style="color:azure;">Primer Nombre</span></th>
            <th scope="col"><span style="color:azure;">Segundo Nombre</span></th>
            <th scope="col"><span style="color:azure;">Primer Apellido</span></th>
            <th scope="col"><span style="color:azure;">Segundo Apellido</span></th>
            <th scope="col"><span style="color:azure;">Plan</span></th>
            <th scope="col"><span style="color:azure;">Fecha</span></th>
            <th scope="col"><span style="color:azure;">Telefono</span></th>
            <th scope="col"><span style="color:azure;">Estado</span></th>
          </tr>
        </thead>
        
        <tbody>
          <tr style="background-color: rgb(255, 255, 255);  font-family: 'Bebas Neue', cursive; font-size: 24px;" *ngFor="let pago of pagos; let i=index;">
            
            <td *ngIf="pago.activador==='Pagado'">{{i+1}}</td>
          

            <td *ngIf="pago.activador==='Pagado'">{{pago.nombre}}</td>
            <td *ngIf="pago.activador==='Pagado'">{{pago.nombre1}}</td>
            <td *ngIf="pago.activador==='Pagado'">{{pago.apellido}}</td>
            <td *ngIf="pago.activador==='Pagado'">{{pago.apellido1}}</td>
            <td *ngIf="pago.activador==='Pagado'">{{pago.plan}}</td>
            <td *ngIf="pago.activador==='Pagado'">{{pago.periodo}}</td>
            <td *ngIf="pago.activador==='Pagado'">{{pago.telefono}}</td>

            <td *ngIf="pago.activador==='Pagado'">
            
              <div class="button-container-1">
                <span class="mas">Adeuda</span>
              <button id='work' type="button" name="Hover" *ngIf="pago.activador==='Pagado'" (click)="pagoAprob(pago.id, pago)">{{pago.activador}}</button>
            </div>
              

          
            </td>
            <td *ngIf="pago.activador==='Pagado'">
           
              <!--<button type="button" class="btn btn-primary m-1" (click)="editUsuario(clienteL.id, clienteL)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
              </button> -->

              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  
</div>
    
</div>
</div>
