    <div class="bg-image"
    style="background-image: url('/assets/img/fondoa.jpg');height: 100%; background-size: cover;
    background-position: center">
    <app-carrusel></app-carrusel>
    <div class="cont">
       <div class=" contenedor un letra">
         <span class="p-5">          <h2 style=" margin-left: 38%; text-align:left;font-size:40px; padding-top:55px ;">Ofrecemos</h2>
          <p style="margin-left: 38%; margin-right:5%; font-size:40px; text-align:left">Un servicio de internet con cobertura en el municipio de Hecelchakán, brindando atención al cliente cuando lo necesite.</p>
         </span>
         </div>
    </div>
         <app-plan></app-plan>
         <div class="cont">
            <div class=" contenedor doss letra">
              <span class="p-5">          <h2 style=" margin-left: 38%; text-align:left;font-size:40px; padding-top:55px ;">Ofrecemos</h2>
               <p style="margin-left: 38%; margin-right:5%; font-size:40px; text-align:left">Un servicio de internet con cobertura en el municipio de Hecelchakán, brindando atención al cliente cuando lo necesite.</p>
              </span>
              </div>
         </div>  
    </div>
 <router-outlet></router-outlet>