
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
img {
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:rgb(0, 155, 219 ) ;
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(0, 155, 219 )); 
        
}

.bgimg
{ position: absolute;
top:0;
left:0;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-color:rgb(0, 155, 219 ) ;
filter: opacity(0.4) drop-shadow(0 0 0 rgb(0, 155, 219 )); 
    
}
.service{
    position: fixed;
    top: 70%;
    left: 90%;
    height: 60px;
    width: 100px;
}
.fuente{
    margin-top: 80px;
    margin-left: 40px;
    font-family: 'Bebas Neue', cursive;
    font-size: 68px;
    color: white;
}