<div style="background-color:lightblue; height:100%;">
    <app-navbar></app-navbar>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-5 m-2" *ngFor="let queja of quejas">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title text-center fst-italic">Número de contacto: {{queja.telf}}</h5>
              <p class="card-text text-align-justify"><strong>Descripción: </strong>{{queja.mensage}}</p>
              <button type="button" class="btn btn-danger m-1" (click)="deleteQueja(queja.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                </svg>
                  Solucionado
              </button>
            </div>
          </div>
        </div>
      </div>
</div>
</div>